<div class="control-section e-tbar-section">
  <div class="e-sample-container">
    <div [hidden]="sim_mode">
      <ejs-toolbar #toolbar_design class="toggle" (clicked)='toolbarClick($event)' (created)="created()">
        <e-items>
          <e-item [id]="undo_id" tooltipText='Undo' prefixIcon='e-undo-icon'></e-item>
          <e-item [id]="redo_id" tooltipText='Redo' prefixIcon='e-redo-icon'></e-item>
          <e-item type='Separator'></e-item>
          <e-item [id]="zoomin_id" tooltipText='Zoom In' prefixIcon='e-zoomin-icon'></e-item>
          <e-item [id]="zoomout_id" tooltipText='Zoom Out' prefixIcon='e-zoomout-icon'></e-item>
          <e-item type='Separator'></e-item>
          <!-- <e-item [id]="refresh" text="refresh diagram"
            tooltipText='Refresh diagram if some components does not appear fine'></e-item> -->
          <e-item [id]="connector_id" tooltipText='Draw Connector' prefixIcon='glyphicon glyphicon-resize-horizontal'></e-item>
          <e-item [id]="fit_diagram_id" tooltipText='Fit Diagam' text='Fit Diagram'>
          </e-item>
          <e-item type='Separator'></e-item>
          <!-- <e-item>
            <ng-template #template>
              <div [hidden]="hide_fileupload">
                <label [for]="fileupload_id" class="button">upload board code</label>
                <input #fileinput type="file" [id]="fileupload_id" (change)='fileInputChange($event)'>
                <p>{{selected_file}}</p>
              </div>
            </ng-template>
          </e-item> -->
          <e-item [id]="simulate_id" text="simulate"></e-item>
          <e-item [id]="current_reserve_mode_id"  [text]="reserve_text" ></e-item>
          <!-- <e-item [id]="unreserve_id" text="unreserve"></e-item> -->
          <!-- <e-item #upload_id [id]="upload_firmware_id" text="upload board firmware"></e-item> -->
        </e-items>
      </ejs-toolbar>
    </div>
    <div [hidden]="!sim_mode">
      <ejs-toolbar #toolbar_sim class="toggle" (clicked)='toolbarClick($event)'>
        <e-items>
          <e-item [id]="zoomin_id" tooltipText='Zoom In' prefixIcon='e-zoomin-icon'></e-item>
          <e-item [id]="zoomout_id" tooltipText='Zoom Out' prefixIcon='e-zoomout-icon'></e-item>
          <e-item type='Separator'></e-item>
          <e-item [id]="simulate_id" text="stop simulation"></e-item>
          <e-item [id]="reset_id" text="reset board"></e-item>
          <e-item [id]="toggle_id" text="toggle switch" hidden='true'></e-item>
        </e-items>
      </ejs-toolbar>
    </div>
  </div>
</div>

<jw-modal id="{{reserve_modal_id}}">
  <h1>reserving components in the desgin</h1>
  <ul>
    <li>
      <p style="display:inline">parsing components in design</p>
      <span style="display:inline" [hidden]="!parsed">&#9989;</span>
      <span style="display:inline" [hidden]="!error_parsed">&#10060;</span>
    </li>
    <li>
      <p style="display:inline">check for free components </p>
      <span style="display:inline" [hidden]="!reserved">&#9989;</span>
      <span style="display:inline" [hidden]="!error_reserved">&#10060;</span>
    </li>
    <!-- <li>
      <p style="display:inline">binding </p>
      <span style="display:inline" [hidden]="!binded">&#9989;</span>
      <span style="display:inline" [hidden]="!error_binded">&#10060;</span>
    </li>
    <li>
      <p style="display:inline">set configurations of components</p>
      <span style="display:inline" [hidden]="!configured">&#9989;</span>
      <span style="display:inline" [hidden]="!error_config">&#10060;</span>

    </li> -->
  </ul>
  <button (click)='customClose(reserve_modal_id)' [hidden]="hide_modal_close_btn"> Close</button>

</jw-modal>
<jw-modal id="{{simulate_modal_id}}">
  <h1>pre simulate </h1>
  <ul>
    <li>
      <p style="display:inline">parsing components in design</p>
      <span style="display:inline" [hidden]="!parsed">&#9989;</span>
      <span style="display:inline" [hidden]="!error_parsed">&#10060;</span>
    </li>
    <!-- <li>
      <p style="display:inline">reserveing new components </p>
      <span style="display:inline" [hidden]="!reserved">&#9989;</span>
      <span style="display:inline" [hidden]="!error_reserved">&#10060;</span>
    </li> -->
    <li>
      <p style="display:inline">check reserving (for testing I do not check binding)</p>
      <span style="display:inline" [hidden]="!configured">&#9989;</span>
      <span style="display:inline" [hidden]="!error_config">&#10060;</span>
    </li>
    <li>
      <p style="display:inline">validate</p>
      <span style="display:inline" [hidden]="!validated">&#9989;</span>
      <span style="display:inline" [hidden]="!error_validate">&#10060;</span>
    </li>
    <li>
      <p style="display:inline">send connections</p>
      <span style="display:inline" [hidden]="!send_connections">&#9989;</span>
      <span style="display:inline" [hidden]="!error_send_connections">&#10060;</span>

    </li>
    <li>
      <p style="display:inline"> open channel with server </p>
      <span style="display:inline" [hidden]="!connected">&#9989;</span>
      <span style="display:inline" [hidden]="!error_connected">&#10060;</span>
    </li>
    <li>
      <p style="display:inline"> open channel with local server </p>
      <span style="display:inline" [hidden]="!local_connected">&#9989;</span>
      <span style="display:inline" [hidden]="!error_local_connected">&#10060;</span>
    </li>
    <li>
      <p style="display:inline"> prepare design for simulation environemnt </p>
      <span style="display:inline" [hidden]="!prepared">&#9989;</span>
      <span style="display:inline" [hidden]="!error_prepared">&#10060;</span>
    </li>
    <li>
      <p style="display:inline"> waiting for start flag from server </p>
      <span style="display:inline" [hidden]="!prepared">&#9989;</span>
      <span style="display:inline" [hidden]="!error_prepared">&#10060;</span>
    </li>

  </ul>
  <button (click)='customClose(simulate_modal_id)' [hidden]="hide_modal_close_btn"> Close</button>

</jw-modal>
<jw-modal id="{{period_modal_id}}">
  <h1>Choose reserving period</h1>
  <input required min="5" type="number" step="30" [(ngModel)]="period"> Min
  <button (click)='cancel()'> Cancel</button>
  <button (click)='reserve()'> Reserve</button>

</jw-modal>
<jw-modal id="{{unreserve_modal_id}}">
  <h1 style="color:red">Unreserve</h1>
  <p>Are you sure?</p>
  <div align="right">
    <button  style="color: red" (click)='unreserve(true)'> Yes</button>
    <button  (click)='unreserve(false)'> Cancel</button>

  </div>

</jw-modal>