
.title{
    color: white;
    margin-top: 10%;
    font-size: 500%;
    }
.rmpaddin{
    padding-left:0px ;
    padding-right:0px;
}
.description{

    font-size: 200%;
    color: white;
    }
.landingpg1
    {
        height: 100%;
        background-image: url('../../PCB_Photos/IMG_7339.JPG');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
        }
.landingpg2
        {
            height: 100%;
            background-image: url('../../PCB_Photos/IMG_7350.JPG');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
          
            
            }
.landingpg3
    {
        height: 100%;
        background-image: url('../../PCB_Photos/IMG_7376.JPG');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
        }