/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .boardselection{
    margin-left: auto;
  }
  .boards {
    /* margin: 0 0 2em 0; */
    right: 0;
    list-style-type: none;
    padding: 0;
    /* width: 15em; */
  }
  .connection-type{
    right: 0;
    list-style-type: none;
    padding: 0;
   
  }
  .Intsruction-Set{
    right: 0;
    list-style-type: none;
    padding: 0;
   
  }
  .boards li {
    
    /* cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px; */
  }
  .boards li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .boards li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .bg{
    background-color: #575954;
    height: 100%;
  }
  .boards .text {
    position: relative;
    top: -3px;
  }
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    /* padding: 0.8em 0.7em 0 0.7em; */
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
   
    height: 1.8em;
    margin-right: .8em;
    border-radius: 10px;
  }
  .welcome_title{
    color: #607D8B;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2%;
  }
  .sectionTitle{
    text-align: center;
    color:#607D8B;

  }
  .container{

    
  }
  .containerholder{
    border-style: outset;
    border-width: 10px;
    border-radius: 25px;
    background-color: white;
    margin-top: 10%;
    height: 500px;
  }
  .boardimg
  {
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
  }
  ul{   
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 5%;
  }
  li{
    clear: right;
    padding: 3px;
  }
  .btn{
    float: right;
  }
  .instruction_block{

    display: grid;
  }

  .instruction_text{
    font-size: 100%;
  }
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */