<div class="row " style="background-color:lightgray">
  <div class="col-12">
    <ejs-toolbar #toolbar_design class="toggle" (clicked)='toolbarClick($event)'>
      <e-items>
        <e-item [id]="add_pin" tooltipText='add pin' prefixIcon='e-undo-icon'></e-item>
        <e-item [id]="save_board" tooltipText='save pin' prefixIcon='e-undo-icon'></e-item>
        <e-item>
          <ng-template #template>
            <label [for]="image_upload" class="button">upload board image</label>
            <input #fileinput type="file" [id]="image_upload" (change)='fileInputChange($event)'
              accept="image/png, image/jpeg">
          </ng-template>
        </e-item>
        <e-item>
          <ng-template #template>
            <div [hidden]="hide_pin_type">
              <label [for]="pin_type_id" class="button">pin type</label>
              <!-- <input #fileinput type="file" [id]="pin_type_id" (change)='changePinType($event)'> -->
              <input type="radio" name="type" value="I/O" [checked]='! isVCC && ! isGROUND'
                (change)='changePinType($event)'> I/O
              <input type="radio" name="type" value="VCC" [checked]='isVCC' (change)='changePinType($event)'> VCC
              <input type="radio" name="type" value="GROUND" [checked]='isGROUND' (change)='changePinType($event)'>
              GROUND
            </div>
          </ng-template>
        </e-item>

      </e-items>
    </ejs-toolbar>
  </div>
</div>
<div class="row nopadding">
  <div class="col-3 nopadding">
    <table>
      <tr>
        <th>Sam pin name</th>
        <th>Board pin name</th>
      </tr>
      <tr *ngFor="let pin of SAM_pins let i=index" [attr.data-index]="i">
        <td>SAM pin:{{i}}</td>
        <!-- <td><input type="text" size="4" [(ngModel)]="SAMPin_BoardPin[i]"></td>
         -->
        <select [ngModel]="SAMPin_BoardPin[i]" (ngModelChange)="PinSelectedEvent(i,$event)">
          <option value="">none</option>
          <ng-container *ngFor="let node of getPins()">
            <option
              *ngIf="node.annotations[0].content== SAMPin_BoardPin[i] || boardPin_selected[node.annotations[0].content] ==undefined || !boardPin_selected[node.annotations[0].content]">
              {{node.annotations[0].content}}</option>
          </ng-container>
          <!-- <option *ngFor="let node of getPins()" [ngValue]="node">{{node.annotations[0].content}}
          </option> -->
        </select>
      </tr>

    </table>
  </div>
  <div class=" col-9 w-80 nopadding">
    <ejs-diagram #diagram id="diagram" width="100%" height="568px" (created)='diagramCreated()'
      (selectionChange)='selectionChangeEvent($event)' (historyChange)='historyChanged($event)'
      (textEdit)='EditBoardNameEvent($event)' [commandManager]="commandManager">
      <!-- (textEdit)='EditBoardNameEvent($event)' -->
    </ejs-diagram>
  </div>
</div>
<jw-modal id="{{save_custom_board_modal_id}}">
  <h1>saving board</h1>
  <p style="display:inline">saving board </p>
  <span style="display:inline" [hidden]="!saved">&#9989;</span>
  <span style="display:inline" [hidden]="!error_saved">&#10060;</span>
  <p>{{error_message}}</p>
  <button (click)='customClose(save_custom_board_modal_id)' [hidden]="hide_modal_close_btn"> Close</button>

</jw-modal>
<router-outlet></router-outlet>