<div class="row " style="background-color:lightgray">
  <div class="col-12">
    <ejs-toolbar #toolbar_design class="toggle" (clicked)='toolbarClick($event)'>
      <e-items>
        <e-item [id]="add_pin" tooltipText='add pin' prefixIcon='e-undo-icon'></e-item>
        <e-item [id]="save_board" tooltipText='save pin' prefixIcon='e-undo-icon'></e-item>
        <e-item>
          <ng-template #template>
            <label [for]="image_upload" class="button">upload board image</label>
            <input #fileinput type="file" [id]="image_upload" (change)='fileInputChange($event)'
              accept="image/png, image/jpeg">
          </ng-template>
        </e-item>
        <e-item>
          <ng-template #template>
            <div [hidden]="hide_pin_type">
              <label [for]="pin_type_id" class="button">pin type</label>
              <!-- <input #fileinput type="file" [id]="pin_type_id" (change)='changePinType($event)'> -->
              <input type="radio" name="type" value="I/O" [checked]='! isVCC && ! isGROUND'
                (change)='changePinType($event)'> I/O
              <input type="radio" name="type" value="VCC" [checked]='isVCC' (change)='changePinType($event)'> VCC
              <input type="radio" name="type" value="GROUND" [checked]='isGROUND' (change)='changePinType($event)'>
              GROUND
            </div>
          </ng-template>
        </e-item>

      </e-items>
    </ejs-toolbar>
  </div>
</div>
<div class="row nopadding">
  <!-- <div class="col-3 nopadding">
    <ejs-symbolpalette #sidebar id="symbolpalette" style="border: solid 1px lavender;" width="100%" height="100%"
      expandMode="Multiple" [symbolHeight]=50 [symbolWidth]=50 [palettes]="palettes">
    </ejs-symbolpalette>
  </div> -->
  <div class="col-9 w-80 nopadding">
    <ejs-diagram #diagram id="diagram" width="100%" height="568px" (created)='diagramCreated()'
      (selectionChange)='selectionChangeEvent($event)' (historyChange)='historyChanged($event)'>

    </ejs-diagram>
  </div>
</div>
<jw-modal id="{{save_custom_board_modal_id}}">
  <h1>saving board</h1>
  <span style="display:inline" [hidden]="!saved">&#9989;</span>
  <span style="display:inline" [hidden]="!error_saved">&#10060;</span>
  <button (click)='customClose(save_custom_board_modal_id)' [hidden]="hide_modal_close_btn"> Close</button>

</jw-modal>
<router-outlet></router-outlet>