/* P{
    color:#c6eec6
} */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
/* .main-wrapper {
  height: 100vh;  
} */
.upload_lbel{
  margin-bottom: 0%;
  padding-right: 4%;
  padding-left: 5%;
}
.pinselect{
 width: 100%
}
.borderframe{
border: 1px solid gray;
}
.paddingrows{
padding-bottom:5% ;
padding-top:5% ;
border-bottom: solid 1px gray;
}
.bgcolor{
  background-color: #fafafa;
}