.nopadding {
   /* padding: 0 !important;
   margin: 0 !important; */
}
.logo{
height: 50px;
width: 15%;
}
.menuitem{
   padding: 0% 2%;
   color: white;

}
.menuitem:hover{
   background-color: #46a2a2;
   text-decoration: none;
   padding: 2%;
}
.menucontainer{
   background-color: #575954;
   
}
.menubarLoginBtn{
   float: right;
   
   
}
.btns{
   margin: 1%;
}
.accountbtns{
   float: right;
   font-size: 12px;
   background-color:#46a2a2; 
}

