.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.logo{
height: 1%;
width: 10%;
}
.menuitem{
   padding: 3%;
}
.menucontainer{
   background-color: antiquewhite;
}
.menubarLoginBtn{
   float: right;
   
}
.btns{
   margin: 1%;
}