<h1>Home page</h1>

<div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
        <h2>Design Files</h2>
        <button type="button" class="btn btn-outline-dark" (click)='createNewFile()'>create new file</button>
        <ul>
            <li *ngFor="let file of design_files">
                <hr>
                <a routerLink="/design/{{file.id}}"> {{file.original_file_name}}</a>
                <br><small>id: {{file.id}}</small>
                <button type="button" (click)='deleteDesignFile(file.id,file.original_file_name)' style="float: right;"
                    class="btn-outline-danger">Delete</button>
            </li>
        </ul>
    </div>
    <div class="col-sm-6" style="background-color:pink;">
        <h2>User Boards</h2>
        <button type="button" class="btn btn-outline-dark" (click)='customBoardDesign()'>create new Board</button>
        <ul>
            <li *ngFor="let board of user_boards">
                <hr>
                <a [routerLink]="['/customboard']" [queryParams]="{board_id:board.id}"> {{board.name}}</a>
                <br><small>id: {{board.id}}</small>
                <button type="button" (click)='deleteBoard(board.id,board.name)' style="float: right;"
                    class="btn-outline-danger">Delete</button>

            </li>
        </ul>
    </div>
</div>