<div class="container-fluid bgcontainer min-vh-100">
    <h1 class="title">The SAM Menu</h1>
<div class="card-deck">
    <div class="card">
        <a (click)='createNewFile()' href='#'>
        <div class="card-img-top bgimg1"></div>
        <div class="card-body">
        <h4 class="card-title titleofcard">Design</h4>
        <p class="card-text descriptionofcard">Make your own new Design with various boards shared by our users</p>      
        </div>
        </a>
    </div>  
   
    <div class="card">
        <a routerLink="/ConfigureSamComponent">
            <div class="card-img-top bgimg2"></div>
            <div class="card-body">
            <h4 class="card-title titleofcard">Add New Component</h4>
            <p class="card-text descriptionofcard">Got a new SAM ?<br> No problem follow our configuration wizard here to setup your new SAM</p>
            </div>
        </a>
    </div>  

    <div class="card">
            <a routerLink="/Dashboard">
            <div class="card-img-top bgimg3"></div>
            <div class="card-body">
            <h4 class="card-title titleofcard">DashBoard</h4>
            <p class="card-text descriptionofcard">Keep track of all your components designs and more..</p>
            </div>
        </a>
    </div>  
     
    </div>
  </div>
  